.list-skills {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 242px;
}

.list-skills .img-html {
    width: 85px;
    height: 88.91px;
    align-content: center;
}

.list-skills .img-css {
    width: 85px;
    height: 88.91px;
}

.list-skills .img-js {
    width: 85px;
    height: 88.91px;
}

.list-skills .img-react {
    width: 92px;
    height: 88.91px;
}

.list-skills .img-laravel {
    width: 85px;
    height: 80px;
}