.main-skills {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 25px;
    background-color: #3A4042;
    border-bottom: 10px solid #7C5E99;
}