.main-banner {
    background-image: url(../../assets/img/my_photo.png);
    background-repeat: no-repeat;
    background-position: bottom 0px right 0px;
    box-sizing: border-box;
    height: 800px;
    width: 100%;
    background-color: #8C8C8C;
    border-bottom: 10px solid #000;
    padding-top: 215px;
    padding-left: 110px;
}

.main-banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 640px;
}

.main-banner .navigation {
    display: flex;
    justify-content: space-evenly;
    margin-top: 110px;
}