.main-title {
    font-family: 'Press Start 2P';
    color: #f1f2f6;
    text-shadow: 5px 5px 0 #000;
}

.main-title.-card {
    color: #F25A70;
    font-size: 40px;
    font-family: 'Press Start 2P';
    text-shadow: 5px 5px 0 #000;
    padding-bottom: 28px;
}

.main-title.-allsections {
    font-size: 40px;
    text-shadow: none;
    text-align: center;
    margin-bottom: 40px;
}

.main-title.-years-about {
    display: flex;
    justify-content: space-around;
    color: #F25A70;
    text-shadow: none;
    font-size: 25px;
    padding-bottom: 9px;
}