.main-button {
    display: inline-block;
    background-color: #F25A70;
    box-shadow: 5px 5px 0 #000;
    padding: 18px 20px;
    margin-right: 0;
    transition: transform 100ms linear;
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
}

.main-button:hover {
    transform: scale(1.1);
}

.main-button.-full:hover {
    transform: scale(1.02);
}