.main-contact {
    background-color: #3A4042;
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 50px;
}

.main-contact .title-contact {
    font-size: 30px;
    font-family: 'Fira Code';
    color: #FFF;
}

.main-contact .box-contact {
    box-sizing: border-box;
    border: 5px solid #000;
    font: 25px 'Fira Code', sans-serif;
    margin-bottom: 10px;
}

.main-contact .box-contact.-textarea {
    margin-bottom: 40px;
}