.main-footer {
    background-color: #000;
    padding-top: 28px;
    padding-bottom: 28px;
}

.main-footer .wrapper-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-footer .img-size {
    max-width: 45px;
    max-height: 45px;
    transition: transform 100ms linear;
}

.img-size:hover {
    transform: scale(1.3);
}