.project-box {
    max-width: 280px;
    max-height: 280px;
    background-color: #FFF;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 10px 10px 0 #808080;
}

.project-box .icon {
    width: 280px;
    height: 250px;
    margin-right: auto;
    margin-left: auto;
    transition: transform 100ms linear;
}

.project-box .icon:hover {
    transform: scale(1.1);
}