.skill-react {
    display: flex;
    flex-direction: row;
    margin-bottom: 37.54px;
}

.title-react {
    display: flex;
    font-size: 25px;
    color: #FFF;
    font-family: 'Press Start 2P';
    margin-left: 18.73px;
}

.box-react {
    box-sizing: border-box;
    width: 320px;
    height: 40px;
    border: 5px solid;
    background: linear-gradient(to right, #7C5E99 25%, #FFF 30%);
    margin-top: 15px;
    margin-left: 18.73px;
}

.align-react {
    display: flex;
    flex-direction: column;
}